.ResultsContainer {
  padding-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 0px;
  row-gap: 100px;

  &__resultItem {
    text-decoration: none;
    width: 200px;
    &__link {
      color: #009b2b;
      font-weight: bold;
      font-size: 10px;
      margin-bottom: 10px;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
      padding-left: 0.6rem;
      padding-right: 0.6rem;
      border-radius: 5px;
      background-color: #d0ffdd;
      width: 198px;
    }

    &__title {
      margin-top: 20px;
      font-size: 18px;
      width: 333px;
      color: rgba(0, 0, 0, 0.582);
      font-weight: 700;
      &:hover {
        color: black;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
