@import "../../styles/mixins";

.SearchNavigatorComponent {
  // background: blue;
  position: relative;
  margin-top: 60px;
  &__Btns {
    // background: yellow;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    @include make-flex($dir: row, $just: space-between);

    &__Item {
      // background: green;
      text-decoration: none;
      color: black;
      font-size: 16px;
      @include make-flex($dir: row, $just: none, $align: center);
      gap: 15px;

      &__ItemIcon {
        width: 30px;
      }
    }
  }
}

.altItem {
  filter: opacity(40%);
  transition: all 0.3s ease-in-out;
  &:hover {
    filter: opacity(100%);
  }
}
