.SearchNavigatorComponent {
  background: blue;
  position: relative;
  margin-top: 60px;
  &__Btns {
    background: yellow;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
