@import "../../styles/mixins";

.NavigationComponent {
  padding-top: 3rem;
  @include make-flex($dir: row, $just: space-between);
  &__Link {
    text-decoration: none;

    &__Logo {
      font-weight: bold;
      color: black;
    }
  }
}
